<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Parking Rate Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <table class="table table-hover">
    <thead>
        <tr>
        <th>Vehicle Type</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr onclick="getRowData(this)">
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
          </tr>
        {% endfor %}
    </tbody>
    </table>

    <script>
        function getRowData(row) {          
            var vehicle_type = row.cells[0].innerText.toLowerCase();    
            var start_time = row.cells[1].innerText;
            var end_time = row.cells[2].innerText;        

            document.getElementById("vehicle_type").value = vehicle_type;
            document.getElementById("start_time").value = start_time;
            document.getElementById("end_time").value = end_time;
        }
    </script>

    <div class="container mt-5">
        <h1 class="text-center mb-4">Parking Rate Calculator</h1>
        <form method="POST" action="/calculate">
            <div class="form-group">
                <label for="vehicle_type">Select vehicle type:</label>
                <select class="form-control" id="vehicle_type" name="vehicle_type">
                    <option value="car">Car</option>
                    <option value="motor">Motor</option>
                    <option value="employee">Employee</option>
                </select>
            </div>
            <div class="form-group">
                <label for="start_time">Select start time:</label>
                <input type="datetime-local" class="form-control" id="start_time" name="start_time" required>
            </div>
            <div class="form-group">
                <label for="end_time">Select end time:</label>
                <input type="datetime-local" class="form-control" id="end_time" name="end_time" required>
            </div>
            <button type="submit" class="btn btn-primary">Calculate rate</button>
        </form>
    </div>
</body>
</html>
